body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.navWrapper {
  padding: 10px;
  border-bottom: 1px solid grey;
}

.navigasyonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.appLayoutWrapper {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  padding: 32px;
  margin: 32px 0;
}
